
<mat-icon>home</mat-icon>
<mat-form-field>
  <input matInput placeholder="Simple Input" required>
</mat-form-field>
<button mat-raised-button>I'm a button</button>

<div class="button-row">
    <button mat-icon-button><mat-icon>home</mat-icon></button>
    <button mat-button color="primary">Primary</button>
    <button mat-stroked-button color="accent">Accent</button>
    <button mat-button color="warn">Warn</button>
    <button mat-raised-button disabled>Disabled</button>
    <a mat-raised-button routerLink=".">Link</a>
    <button mat-icon-button>
        <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
      </button>
  </div>
